language: objective-c

os: osx
osx_image: xcode8.2

env:
  - APP_TARGET=android
  - APP_TARGET=ios

notifications:
  email: false
  slack:
    rooms:
      - secure: NfkFa9AhtLCfvGjCJsT9Or1gOh8dVdo4Yr8DxwyUI9w0xPjTk+JDw3dTqOv1LKq0uAwAOeoWi+prJZrPtflwXL2X1HfnAvznYRfFb9H1WNDyElrBBKN1i1sNsnzu+ydrmhwSSmFqs0C9jmMhnD+NuVnSLT2G8NMsfs4g9ujSie0mbVucz3wPjkEKNZHO2QqhEBfVGQRqUSAXX9kW5IIMjyM4svpv6OSRpEb31pLcmuCVcFnVzl4VAinLBd4tVtF3PgVjZWJufb5T9TMgHb6HYQJmy5BTFqP9woQHZCaHVx2ECQDMCLkKr3TaE8OWSkbN2SO3YbO7bH8pkH3nWYdJ6IZZVDkwX9v7647JCXEhxocvZ5PK7pBYJZpoY3tb75eadCMMdVPAddrw2y1ogIiWZiNVZU0rAHO6QuXVyC+vFK69urJdIvsqrOJbLFqgh2KGLeniO+nLk7ToiuYzbpqfMydQSeJoHdTgBvaabM3VNAyzbaerSM9yAB8LECWTiAHyW+3KofDPNJRVcsfFd1zUzB9ZN4u3SpqzpAQR+0Q8d1reO+GyTAEfYBcdz6RztcvBtgAzP7qUPDx2Km4ZvKCoRzBsHnrnHCFu5pZszAgmdrd92u3SSDBk3n5yyKeXP2+xwBeva+zwHVz2WSKWklhkULiCtMw+pbs=

install:
  - . ./.travis-install.sh
  - npm install -g cordova
  - npm install

before_script:
  - cordova create HelloCordova
  - cd ./HelloCordova
  - cordova platform add $APP_TARGET

script:
  - cordova plugin add ..
  - . ../.travis-build.sh
