language: android

os:
  - osx

osx_image: xcode8.2

before_install:
  - brew update

install:
  - brew install android-sdk
  - echo "y" | android update sdk --no--ui --all --filter platform-tools,tools,build-tools-25.0.2,android-25,extra-android-m2repository
  - export PATH=$PATH:/usr/local/opt/android-sdk/tools:/usr/local/opt/android-sdk/platform-tools
  - export ANDROID_HOME=/usr/local/opt/android-sdk
  - export ANDROID_SDK_ROOT=$ANDROID_HOME
  - npm install -g cordova
  - npm install

before_script:
  - cordova create HelloCordova
  - cd ./HelloCordova
  - cordova platform add android ios

script:
  - cordova plugin add ..
  - cordova build --release