language: objective-c

os: osx
osx_image: xcode8.2

before_install:
  - brew update

install:
  - brew install android-sdk
  - export PATH=$PATH:/usr/local/opt/android-sdk/tools:/usr/local/opt/android-sdk/platform-tools
  - export ANDROID_HOME=/usr/local/opt/android-sdk
  - export ANDROID_SDK_ROOT=$ANDROID_HOME
  - (while sleep 3; do echo "y"; done) | android update sdk --no-ui --all --filter platform-tools,tools,build-tools-24.0.2,build-tools-25.0.2,android-24,android-25,extra-android-m2repository
  - npm install -g cordova
  - npm install

before_script:
  - cordova create HelloCordova
  - cd ./HelloCordova
  - cordova platform add android ios

script:
  - cordova plugin add ..
  - cordova build android
  - xcodebuild -project platforms/ios/HelloCordova.xcodeproj -scheme HelloCordova -configuration debug -destination 'platform=iOS Simulator,name=iPhone SE,OS=10.2' | xcpretty -tc

notifications:
  email: false
  slack:
    secure: NfkFa9AhtLCfvGjCJsT9Or1gOh8dVdo4Yr8DxwyUI9w0xPjTk+JD/w3dTqOv1LKq0uAwAOeoWi+prJZrPtflwXL2X1HfnAvznYRfFb9H1WNDyElrBBKN1i1sNsnzu+ydrmhwSSmFqs0C9jmMhnD+NuVnSLT2G8NMsfs4g9ujSie0mbVucz3wPjkE/KNZH//O2QqhEBfVGQRqUSAXX9kW5IIMjyM4svpv6OSRpEb/31pLcmuCVcFnVzl4VAinLBd4tVtF3PgVjZWJufb5T9TMgHb6HYQJmy5BTFqP9w/oQHZC/aHVx2ECQDMCLkKr3TaE8OWSkbN2/SO3YbO7bH8pkH3nWYdJ6IZZVDkwX9v76/4/7JCXEhxocvZ5PK7p/BYJZpoY3tb75eadCMMdVPAddrw2y1ogIiWZiNVZU0rAHO6QuXVyC+vFK69urJdIvsqrOJbLFqgh2KGLeniO+nLk7ToiuYzbpqfMydQSeJoHdTgBvaabM3VNAyzbaerSM9yAB8LECWTiAHyW+3KofDPNJRVcsfFd1zUzB9ZN4u3SpqzpAQR+0Q8d1reO+GyTAEfYBcdz6RztcvBtgAzP7qUPDx2K/m4ZvKCoRzBsHnrnHCFu5pZszAgmdrd92u3SSDBk3n5yyKeXP2+xwBeva+zwHVz2WSKWklhkULiCtMw+pbs=
